*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

body{
  font-size: 16px;
  background-color: #fff;
}

#root{
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

button, a{
  cursor: pointer;
  font-weight: 700;
  background-color: #498f35;
  color: #fff;
  border-radius: 15px;
  transition: 300ms background-color ease-in-out;
  &:hover {
    background-color: lighten(#498f35, 10%);
  }
}